/*-----------------BOT CONFIG-----------------*/
exports.channels = ['##PhoenixIRC'];

exports.server =  "irc.freenode.net";

exports.botName = "PhoenixIRC";

exports.userName = 'PhoenixIRC';

exports.realName = 'PhoenixIRC';

exports.admins = ['IRC_USER'];

exports.nicks = Array();

exports.autoOp=true;

exports.autoOpChannels = ['##phoenixirc'];

exports.plugins = {
	"admin": true,
	"adult": true,
	"beer": true,
	"bitcoin": true,
	"define": true,
	"dice": true,
	"fml": true,
	"fuckyeah": true,
	"goodbyes": true,
	"google": true,
	"greets": true,
	"jokes": true,
	"liar": true,
	"quotes": false,
	"towel": true,
	"youtube": false,
        "porn":false
};
