/*-----------------BOT CONFIG-----------------*/
exports.channels = ['##PhoenixIRC'];

exports.server =  "irc.freenode.net";

exports.botName = "PhoenixIRC";

exports.userName = 'PhoenixIRC';

exports.realName = 'PhoenixIRC';

exports.admins = ['IRC_USER'];

exports.nicks = Array();

exports.autoOp=true;

exports.autoOpChannels = ['##phoenixirc'];

exports.plugins = {
	"admin": true,
	"adult": true,
    "anagram": false,
    "ass": true,
	"beer": true,
	"bitcoin": true,
	"define": true,
	"dice": true,
	"fml": true,
	"fuckyeah": true,
	"goodbyes": true,
	"google": true,
	"greets": true,
	"jokes": true,
	"liar": true,
	"quotes": false,
	"towel": true,
	"youtube": false,
    "porn":false,
    "sammich":true,
    "translate":true,
    "attack":true,
    "calm":true,
    "unoStop":true,
    "wootOff":{
    	apiUrl: 'http://api.woot.com/2/events/fa4a597f-8be0-48b4-8f35-ba0c0989e727.json?key={GET KEY API FROM WOOT}',
    	active:false
    },
    "decide":true,
    "catfact":true,
    "weather":true,
    "zoidburg":true,
    "chan":true,
    "trivia":false,
    "excuse":true,
    "xkcd":true,
    "seen":true,
    "bible":true,
    "wa":false,
    "waID":"-----",
    "wiki": true
};

exports.blacklist = [];
